In [1]:
# Comment is created by using a # symbol before

VARIABLES AND DATATYPES

In [19]:
x = 5          # int
y = 3.14       # float
name = "Alex"  # string
is_active = True  # boolean
d = 1j
e = ["apple", "mango"]
f = ("apple", "mango")
g = range(6)
h = {"name": "Anjali", "role": "Data Scientist"}
print(type(x))
print(type(y))
print(type(name))
print(type(is_active))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))

print(g)

for i in g:
    print(i)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
range(0, 6)
0
1
2
3
4
5

Variables can be assigned in a single line

In [8]:
x, y, z = "abc", "def", "ghi"
print(x)
print(y)
print(z)

abc
def
ghi

In [10]:
fruits = ["apple", "banana", "kiwi", "mango", "avocado"]

x, y, z, a, b = fruits
print(x, y, z)

apple banana kiwi

In [13]:
x="python "
y="is awesome "
z="i love it"

print(x+y+z)

python is awesome i love it

In [15]:
x=1234
y=4567
print(x+y)
print(x-y)
print(x*y)
print(x/y)

5801
-3333
5635678
0.27019925552879354

In [16]:
x = "python"

def func():
    print("i love " + x)

func()

i love python

BASIC INPUT/OUTPUT

In [2]:
user = input("User name: ")
print("Username: ", user)

Username:  Anjali

In [4]:
result1 = 10 + 5
result2 = 10 ** 2 
print(result1)
print(result2)

15
100

CONDITIONAL STATEMENTS

1. If Conditional Statement

If statement is the simplest form of a conditional statement. It executes a block of code if the given condition is true.

In [5]:
age = 12

if age > 10:
    print("Yes greater")

Yes greater

2. Short Hand if

Short-hand if statement allows us to write a single-line if statement.

In [6]:
year = 2002

if year < 2003: print("younger than me")

younger than me

3. If else Conditional Statement

Else allows us to specify a block of code that will execute if the condition(s) associated with an if or elif statement evaluates to False.

In [20]:
a = 5

if a > 3:
    print("greater")
else:
    print("lesser")

greater

4. Short Hand if-else

The short-hand if-else statement allows us to write a single-line if-else statement.

In [21]:
age = 23

compare = "younger" if age <= 25 else "elder"

print(compare)

younger

5. elif Statement

 It allows us to check multiple conditions , providing a way to execute different blocks of code based on which condition is true.

In [22]:
count = 20

if count > 20:
    print("we have enough")
elif count == 20:
    print("exact count")
else:
    print("sorry need more people")

exact count

6. Nested if-else Conditional Statements

if-else statement inside another if statement

In [23]:
age = 20
younger = True

if age <=20:
    if younger:
        print("concert free")
    else:
        print("Has to pay the minimum amount")
else:
    print("Pay amount of 1500")

concert free

### LOOPS

1. for loop

used to iterate over a sequence such as a list, tuple, string or range.

In [25]:
a = 3

for i in range(a):
    print(i)

0
1
2

In [29]:
li = ["mango", "apple", "orange"]
for i in li:
    print(i)

mango
apple
orange

In [30]:
tup = ("mango", "apple", "orange")
for i in tup:
    print(i)

mango
apple
orange

In [31]:
a = "Anjali"

for i in a:
    print(i)

A
n
j
a
l
i

In [35]:
d = dict({"a": 123, "b": 456})

for i in d:
    print(i, d[i])

a 123
b 456

In [36]:
sett = {1, 2, 3, 4, 5, 6}

for i in sett:
    print(i)

1
2
3
4
5
6

### FUNCTIONS

1.

In [37]:
def fun():
    print("Welcome Anjali")

In [38]:
fun()

Welcome Anjali

2.

In [39]:
def fun2(name):
    print("Welcome", name)

In [42]:
fun2(name="Anjali")

Welcome Anjali

In [43]:
fun2("data")

Welcome data

3.

In [50]:
def fun3(name, age):
    print("Hi I'm", name, "and I'm", age, "years old")

In [51]:
fun3("Anjali", 23)

Hi I'm Anjali and I'm 23 years old

In [54]:
def myfun(x, y = 50):
    print("x", x)
    print("y", y)

myfun(5)

x 5
y 50

Function within function

In [55]:
def fun1():
    a = "Hello World"
    def fun2():
        print(a)

    fun2()
fun1()

Hello World

Anonymous / Lambda function (Functions without name)

In [58]:
lam1 = lambda x: x*x     # withh lambda

def lam2(x): return x*x

print(lam1(2))
print(lam2(5))

4
25

RETURN STATEMENTS

In [59]:
def yoo(x):
    return x**3

yoo(2)

8